#add-lyrics-container {
	position: absolute;
	color: black;
	font-size: 1rem;
	top: 60px;
	width: 100%;
}

#add-lyrics-container textarea {
	height: 120px;
	resize: both;
	width: 100%;
}

#seek-range-container {
	width: 783px;
	position: absolute;
	display: flex;
	align-items: center;
	top: 7px;
}

#seek-range-container input {
	width: 100%;
}


#player-pause img,
#player-play img,
#download img {
	width: 35px;
	position: relative;
	top: -5px;
}

#player-tutorial,
#download,
#player-editor-menu,
#player-pause,
#player-play {
	color: #ffffffe6;
	width: 50px;
	text-align: center;
	cursor: pointer;

}


#seek-range-container [id*=player]:hover,
#download:hover {
	background: #2d719f3f;
	outline: solid 1.1px #9f9f9f;
}

#seek-range-container [id*=player]:active,
#download:active {
	background: rgba(76, 108, 140, 0.6);
	outline: solid 1.1px #206ab6d1;
}