#add-lyrics-container {
	position: absolute;
	color: black;
	font-size: 1rem;
	top: 60px;
	width: 100%;
}

#add-lyrics-container textarea {
	height: 120px;
	resize: both;
	width: 100%;
}

#seek-range-container {
	width: 783px;
	position: absolute;
	display: flex;
	align-items: center;
	top: 20px;
}

#seek-range-container input {
	width: 100%;
}

#player-pause,
#player-play,
#download,
#player-tutorial {
	zoom: 216%;
	position: absolute;
	left: 101%;
	top: -24px;
	cursor: pointer;
}

#player-pause,
#player-play {
	left: 101%;
}

#player-tutorial {
	left: 112%;
	top: -17px;
	zoom: 137%;
	color: #ffffffe6;
}

#download {
	left: 106%;
	top: -24px;
}

#seek-range-container [id*=player]:hover,
#download:hover {
	background: #2d719f3f;
	outline: solid 1.1px #9f9f9f;


}

#seek-range-container [id*=player]:active,
#download:active {
	background: rgba(76, 108, 140, 0.6);
	outline: solid 1.1px #206ab6d1;
}