body {
  font-family: 'Yu Gothic Ui'
}

#word-area {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  width: 100%;
  height: 43%;
  right: 0%;
  font-weight: bold;
  font-size: xx-large;
  user-select: none;

}

#word-area::-webkit-scrollbar {
  width: 0;
}

#word-area:hover {
  overflow-y: scroll;
}

#height-dragger {
  position: fixed;
  width: 100%;
  height: 43%;
  right: 0%;
  background-color: #d3d3d3;
  height: 5px;
  opacity: 0;
}

#height-dragger:hover {
  opacity: 1;
}

#lyrics-container {
  margin-left: 1rem;
  font-size: 40px;
  line-height: 55px;
}

#result {
  color: #fff;
  position: absolute;
  top: 2.2%;
}


#lyrics {
  position: absolute;
  bottom: 3%;
  color: #fff;
  display: none;
  max-height: 500px;
  width: auto;
  overflow-y: scroll;
  caret-color: #73ff00;
}

.game-mode::-webkit-scrollbar {
  display: none;
}

.shadow-layer {
  position: absolute;
  pointer-events: auto;
}

.wipe-layer {
  -webkit-text-fill-color: transparent;
  position: relative;
  text-shadow: none;
  display: inline;
  pointer-events: none;
}

#lyrics [id*=lyrics-]:not(#lyrics-next) {
  display: none;
}

#lyrics [id*=lyrics-]:not(#lyrics-next, .head-lyrics, .head-lyrics ~ div) {
  color: #ffa500;
}

.wipe-pass {
  color: #ffa500;
}

.head-lyrics,
.previous-lyrics {
  display: block !important;
}

.shadow-layer .edit-border {
  outline: solid 1px;
}

#lyrics-next {
  color: #aaa;
  font-size: 60%;
}

#next {
  opacity: 0;
  display: none;

}

#skip {
  color: #FFF;
  cursor: pointer;
}

#skip:hover {
  text-decoration: underline;
}


.text-shadow {
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

#word-area .time {
  position: absolute;
  height: 45px;
  right: 0;
  background: #ffffff77;
  padding: 0 7px;
  line-height: normal;
  text-shadow: none;
  color: black;
  font-weight: normal;
}


#music-title-container {
  position: absolute;
  height: 40px;
  right: 10px;
  bottom: 11px;
  display: flex;
  font-size: x-large;
  align-items: flex-end;
  opacity: 0;
}


#music-title-container span {
  color: #FFF;
  font-weight: normal;
}

#music-title-container img {
  zoom: 160%;
  position: relative;
  bottom: 2.7px;
  right: 2px;
}


#font-size-container {
  display: inline-flex;
  flex-direction: column;
  position: absolute;
  bottom: 50px;
  right: 20px;
  width: 40px;
}

#font-size-arrow-top {
  width: 40px;
}

#font-size-arrow-down {
  width: 40px;
}