#word-area-blur-range {
	width: 200px;
}

#option-container,
#typing-option-container {
	display: flex;
	flex-direction: column;
	user-select: none;
}

#lyrics-input-font-zoom,
#lyrics-input-font-spacing {
	height: 26px;
	width: 60px;
}

#delete-result-history {
	font-size: 0.8rem;
}

div#option-container>*,
#typing-option-container>* {
	margin: 5px 0;
}

.w-90 {
	width: 90%;
}