#word-area-blur-range {
	width: 200px;
}

#option-container {
	display: flex;
	flex-direction: column;
	user-select: none;
}

#lyrics-input-font-size {
	height: 26px;
	width: 60px;
}

#delete-result-history {
	font-size: 0.8rem;
}

div#option-container>* {
	margin: 5px 0;
}